* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(33, 31, 31);
    overflow-x: hidden;
    cursor: all-scroll;
}

.container {
    background-image: url(image.html/Background-image.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 95vh;
}

.navbar {
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    background: transparent;
    color: white;
}

.logo {
    color: red;
    font-size: 43px;
    text-decoration: none;
    letter-spacing: 2px;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-right: 19rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.icons {
    display: flex;
    gap: 40px;
    font-size: 20px;
}

#arrow {
    transform: scaleY(-1);
}

h1 {
    color: red;
    font-size: 37px;
    margin-left: 70px;
    margin-top: 96px;
    letter-spacing: 4px;
    display: inline-block;
    transform: perspective(300px) rotateX(18deg);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: gray;
    margin-left: 14.375rem;
    margin-top: 0.8125rem;
    font-size: 80px;
    text-shadow: 2px 2px 6px gray;
}

#WITCHER {
    color: gray;
    margin-left: 83px;
    margin-top: 0.8125rem;
    font-size: 100px;
    text-shadow: 2px 2px 6px gray;
}

.season-4 {
    color: white;
    margin-left: 5.1875rem;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.play-btn {
    color: black;
    margin-left: 83px;
    font-size: 20px;
    height: 50px;
    width: 180px;
    gap: 20px;
    align-items: center;
    padding: 2px;
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: 2px 2px 3px gray;
    background-color: whitesmoke;
    /* display: flex; */
}

.more-info {
    color: white;
    font-size: 20px;
    height: 50px;
    width: 190px;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border: 1px solid dimgray;
    border-radius: 6px;
    box-shadow: 2px 2px 3px gray;
    background-color: dimgrey;
    gap: 20px;
    margin-left: 10px;
}

.info-icon {
    font-size: 30px;
    font-weight: bolder;
}

/* div-2 */

.box-2 {
    border: 1px solid gray;
    height: 300px;
    background-color: gray;
    margin: 20px auto;
    width: 90%;
    border-radius: 9px;
    background: transparent;
    column-count: 2;
    column-rule-style: solid;
    column-rule-color: red;
    box-shadow: 2px 3px 3px gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4 {
    color: rgb(239, 18, 10);
    font-size: 44px;
    margin-left: 40px;
}

#pre-propertii {
    color: yellow;
    font-size: 20px;
    margin-left: 25px;
}

#pre-poperti {
    color: green;
    font-size: 20px;
    margin-left: 25px;
}

#paragrap {
    color: green;
    font-size: 25px;
}

.icon-2 {
    color: rgb(215, 27, 27);
    font-size: 20px;
}

#boxmodel-1 {
    color: red;
    font-size: 29px;
}

#boxmodel {
    color: yellow;
    font-size: 29px;
    margin-left: 38px;
}

#teligram {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 24px;
    margin-left: 4px;
    text-decoration: none;
    cursor: pointer;
}

#button-2 {
    background-color: rgb(55, 181, 203);
    height: 90px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    margin-left: 20px;
    margin-top: 40px;
    cursor: pointer;
}

#icon-icon {
    font-size: 60px;
    color: white;
    margin-left: 20px;
    margin-top: 17px;
    justify-content: center;
}

.class-pre {
    color: green;
    margin-top: -110px;
    margin-left: 110px;
    font-size: 24px;
}


.imagefalx {
    display: flex;
    justify-content: space-around;
    height: 21.5vh;
    width: 90%;
    margin: 0 auto;
    gap: 10px;
    animation: zoomSmooth 5s forwards ease-in-out;
    cursor: grab;

}

.imagefalx img,
.imagefalx-img img {
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
    border-radius: 4px;
}

.imagefalx img:hover,
.imagefalx-img img:hover {
    transform: scale(1.1) translateY(-10px);
    z-index: 2;
    filter: brightness(1.2);
}

.imagefalx-img {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    height: 28.5vh;
    width: 90%;
    margin: 0 auto;
}

h5 {
    font-size: 33px;
    color: white;
    margin-left: 5%;
}

#imge-1 {
    margin-left: 0;
    margin-top: 2px;
}

.name {
    margin-top: 45px;
    color: white;
    font-size: 28px;
    margin-left: 5%;
    display: block;
}



.box-3 {
    border: 3px solid rgb(171, 215, 91);
    height: 300px;
    width: 90%;
    margin: 100px auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.112));
    box-shadow: 3px 3px 4px pink;
}

.class-h6 {
    color: green;
    margin-top: 40px;
}

h6 {
    color: rgba(250, 250, 8, 0.879);
    font-size: 20px;
    text-align: center;
    margin-top: 26px;
}

.box-4 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#button-3,
#button-4 {
    height: auto;
    width: 210px;
    background: linear-gradient(rgb(229, 57, 111));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;


}

.box-4 a {
    text-decoration: none;
}

.downlod {
    font-size: 10px;
    color: white;
}

#google-pay-2 {
    font-size: 27px;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 3px;
}